body {
    font-family: monospace !important;
    background-color: #000 !important;
    color: #fff !important;
  }
  
  a, span {
    text-decoration: none;
    color: gray !important;
  }
  
  a:hover {
    transition: 0.4s !important;
    color: #fff !important;
  }
  
  .ascii {
    color: gray !important;
    top: 50%;
  }
  
  span::before {
    content: "\a";
    white-space: pre;
  }
  
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  
  #shadowBox {
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
  }
  
  .rainbow {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 7s ease-in-out infinite;
    background-size: 400% 100%;
  }
  
  @keyframes rainbow_animation {
    0%, 100% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
  }
  