<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../blog.css" />
  </head>
  <body>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </body>
</html>
